<div id="tsparticles"></div>

<div class="container gradient-bg">
  <h1>Howdy! I'm Matt 👋</h1>
  <p>I'm a Full Stack Developer based in Dade City, FL</p>
  <p>I have a passion for solving problems and love figuring out how stuff works. While I do enjoy creating things in 3D, creating WordPress themes and plugins is my specialty.</p>
</div>

<div class="container">
  <h2 class="relative">Here's What I Do</h2>
</div>

<div class="container">
  <div class="row justify-content-evenly">
    <div class="col-lg">
    <div class="card mb-5 px-0 w-auto">
      <img src="https://source.unsplash.com/yu3ZoPTAdRM" class="card-img-top" alt="3D graphic design">
        <div class="card-body">
          <h5 class="card-title">3D Design</h5>
          <p class="card-text text-dark">With over 10 years of 3D experience, I love creating awesome visuals.</p>
          <a href="#" class="btn btn-primary">See Projects</a>
        </div>
    </div>  
    </div>
 <div class="col-lg">
 <div class="card mb-5 px-0 w-auto">
  <img src="https://source.unsplash.com/graphical-user-interface-lL_xP4CEXaY" class="card-img-top" alt="Image of a mechanical keyboard">
    <div class="card-body">
      <h5 class="card-title">Full Stack Developer</h5>
      <p class="card-text text-dark">I have 4 years experience developing sites from the ground up using different technology stacks.</p>
      <a href="#" class="btn btn-primary">See Projects</a>
    </div>
 </div> 
 </div>   
<div class="col-lg">
  <div class="card mb-5 px-0 w-auto">
    <img src="https://source.unsplash.com/a-red-and-white-rocket-ship-flying-through-the-sky-O1jUvZX9DOA" class="card-img-top" alt="Rendering of cartoon rocket">
      <div class="card-body">
        <h5 class="card-title">CI/CD</h5>
        <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
  </div>
</div> 
  </div> 
</div>
