  <div id="tsparticles"></div>

<div class="hero-text gradient-bg">
  <h1 class="hero-text">Howdy! I'm Matt 👋</h1>
  <p>I'm a Full Stack Developer based in Dade City, FL</p>
  <p class="left">I have a passion for solving problems and love figuring out how stuff works. While I do enjoy creating things in 3D, creating WordPress themes and plugins is my specialty.</p>
</div>

  <h2>Here's What I Do</h2>
<div class="container">
  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
</div>
